doctype
html
	head
		title File Metadata Microservice
	body
		form(action='/form' method='POST')
			h2 Pick a file to view its size
			input(type='file' name='file')
			input(type='submit' value='Submit File')
